<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registracija</servlet-name>
        <servlet-class>servleti.Registracija</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bioskop</servlet-name>
        <servlet-class>servleti.Bioskop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Film</servlet-name>
        <servlet-class>servleti.Film</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sala</servlet-name>
        <servlet-class>servleti.Sala</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Projekcija</servlet-name>
        <servlet-class>servleti.Projekcija</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rezervacija</servlet-name>
        <servlet-class>servleti.Rezervacija</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLista</servlet-name>
        <servlet-class>servleti.ServletLista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromenaSifre</servlet-name>
        <servlet-class>servleti.PromenaSifre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletP</servlet-name>
        <servlet-class>servleti.ServletP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilmP</servlet-name>
        <servlet-class>servleti.FilmP</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registracija</servlet-name>
        <url-pattern>/Registracija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bioskop</servlet-name>
        <url-pattern>/Bioskop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Film</servlet-name>
        <url-pattern>/Film</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sala</servlet-name>
        <url-pattern>/Sala</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Projekcija</servlet-name>
        <url-pattern>/Projekcija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rezervacija</servlet-name>
        <url-pattern>/Rezervacija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLista</servlet-name>
        <url-pattern>/ServletLista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromenaSifre</servlet-name>
        <url-pattern>/PromenaSifre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletP</servlet-name>
        <url-pattern>/ServletP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilmP</servlet-name>
        <url-pattern>/FilmP</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>pocetna.jsp</welcome-file>
    </welcome-file-list>
</web-app>
